.order {

    &__container {
        margin-top: 32px;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        max-width: 320px;
        border-radius: 16px;
        border: 1px solid #EEEFF2;

        @media (min-width: 580px) {
            margin-top: 60px;
            max-width: 710px; 
            padding: 60px 151px;
        }
        @media (min-width: 820px) {
            max-width: 726px; 
            padding: 60px 159px;
        }
        @media (min-width: 1120px) {
            max-width: 832px; 
            padding: 60px 212px;
        }
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        @media (min-width: 580px) {
            flex-direction: row;
            justify-content: space-between;
        }

        @media (min-width: 1120px) {
            margin-bottom: 16px;
        }
    }

    &__header-title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 8px;
            
        @media (min-width: 580px) {
            font-size: 20px;
        }   
    }
    
    &__header-price {
        font-size: 16px;

        @media (min-width: 580px) {
            font-size: 20px;
            align-self: flex-end;
        }
    }

    &__article {
        padding: 4px 8px;
        border-radius: 32px;
        background: #EEEFF2;
        width: 63px;
        margin-bottom: 20px;

        @media (min-width: 1120px) {
            margin-bottom: 28px;
        }
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 12px;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 24px;
    }

    &__table-row {
        border-bottom: 1px solid #eeeff2;
    }

    &__table-field {
        padding: 8px 0;
        color: #969eae;
    }

    &__table-value {
        padding: 8px 0;
        text-align: right;
        color: #1c1c1c;
    }

    &__btn {
        width: 100%;
        height: 38px;
        padding: 12px 24px;
        border-radius: 32px;
        border: 1px solid  #780096;
        color: #780096;
        transition: all 0.5s;

        &:hover {
            background-color: #780096;
            color: #fff;
        }
    }
}
